node_modules/
.env*
dist/
build/
coverage/
*.log
*.tsbuildinfo
/.vscode/
.DS_Store
/.idea/
prisma/generated/
/src/generated/prisma
docker-data/
__pycache__/
.history/
.npm/
.pnpm-debug.log*
.pnpm-store
